body,html {
    margin:0 auto;
    height: 100%;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 1.0s ease-in-out;
    /*
    background: radial-gradient(circle at center,#ebf8e1 10%, #aad643 30%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

.container {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Martel', serif;
    font-weight: 400;
}

h1 {
    position:absolute;
    font-size: 100px;
    left:41%;
    top:10%;
}

h2 {
    position: absolute;
    left:42%;
    top:30%;
}

#logo {
    position: absolute;
    top: 75%;
    left: 44.5%;
    height: auto;
    cursor: pointer;
}

#logo img {
    border-radius: 100%;
    height: auto;
    animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #aad643;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #aad643;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #aad643;
	}
}

.topBox {
    display: inline-block;
    border-style: groove;
    position:absolute;
    top:1%;
    width: 12%;
    height: 30%;
}

.botBox {
    display: inline-block;
    border-style: groove;
    position:absolute;
    bottom: 35%;
    width: 12%;
    height: 30%;
}

#topBox1, #botBox1 {
    left:29.5%
}

#topBox2, #botBox2 {
    left:58%;
}

.botBox, .topBox {
    visibility: hidden;
    cursor: pointer;
}

/*
Adicionar Opacity
*/
@keyframes pop-up_1 {
    100% {
        transform: translate(115%,200%) scale(0.1,0.1);
    }
}

@keyframes pop-up_2 {
    100% {
        transform: translate(115%,100%) scale(0.1,0.1);
    }
}

@keyframes pop-up_3 {
    100% {
        transform: translate(-115%,200%) scale(0.1,0.1);
    }
}

@keyframes pop-up_4 {
    100% {
        transform: translate(-115%,100%) scale(0.1,0.1);
    }
}

.bBox {
    position: absolute;
    visibility: hidden;
    border-style: groove;
    width: 40.5%;
    height: 72.5%;
    top:1%;
    left:29.5%;
}
